# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env

# Database
*.db
*.db-journal
*.sqlite3
*.bak

# Logs
*.log

# Node
node_modules/

# Build
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db